In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
## Preprocess the data
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [4]:
## Encode categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [5]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [12]:
## ANN regression Problem statement
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From c:\Users\LENOVO\Downloads\ANN Classification\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [13]:
##Build the model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1) # Output Layer for regression
])
## Compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

WARNING:tensorflow:From c:\Users\LENOVO\Downloads\ANN Classification\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\LENOVO\Downloads\ANN Classification\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

## Set up Tensorboard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [15]:
## Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [16]:
##Train the model
history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback,tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\LENOVO\Downloads\ANN Classification\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\LENOVO\Downloads\ANN Classification\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 7s 12ms/step - loss: 100375.2266 - mae: 100375.2266 - val_loss: 98502.1016 - val_mae: 98502.1016
Epoch 2/100
250/250 [==============================] - 2s 9ms/step - loss: 99566.8672 - mae: 99566.8672 - val_loss: 96859.5938 - val_mae: 96859.5938
Epoch 3/100
250/250 [==============================] - 2s 8ms/step - loss: 96712.2109 - mae: 96712.2109 - val_loss: 92661.4141 - val_mae: 92661.4141
Epoch 4/100
250/250 [==============================] - 2s 10ms/step - loss: 91151.8594 - mae: 91151.8594 - val_loss: 85752.8047 - val_mae: 85752.8047
Epoch 5/100
250/250 [==============================] - 2s 8ms/step - loss: 83103.4688 - mae: 83103.4688 - val_loss: 76897.5938 - val_mae: 76897.5938
Epoch 6/100
250/250 [==============================] - 1s 6ms/step - loss: 73760.4531 - mae: 73760.4531 - val_loss: 67925.9688 - val_mae: 67925.9688
Epoch 7/100
250/250 [==============================] - 2s 9ms/step - loss: 64966.6172 - mae: 64966.6172 - val_loss: 60408.6953 - val_mae: 60408.6953
Epoch 8/100
250/250 [==============================] - 3s 11ms/step - loss: 58197.7422 - mae: 58197.7422 - val_loss: 55199.3047 - val_mae: 55199.3047
Epoch 9/100
250/250 [==============================] - 3s 12ms/step - loss: 54024.6523 - mae: 54024.6523 - val_loss: 52449.3672 - val_mae: 52449.3672
Epoch 10/100
250/250 [==============================] - 2s 10ms/step - loss: 51869.2734 - mae: 51869.2734 - val_loss: 51271.3711 - val_mae: 51271.3711
Epoch 11/100
250/250 [==============================] - 2s 9ms/step - loss: 50912.7227 - mae: 50912.7227 - val_loss: 50832.0117 - val_mae: 50832.0117
Epoch 12/100
250/250 [==============================] - 2s 8ms/step - loss: 50503.9609 - mae: 50503.9609 - val_loss: 50703.1797 - val_mae: 50703.1797
Epoch 13/100
250/250 [==============================] - 1s 6ms/step - loss: 50312.0000 - mae: 50312.0000 - val_loss: 50661.0078 - val_mae: 50661.0078
Epoch 14/100
250/250 [==============================] - 1s 6ms/step - loss: 50212.1836 - mae: 50212.1836 - val_loss: 50609.9141 - val_mae: 50609.9141
Epoch 15/100
250/250 [==============================] - 1s 6ms/step - loss: 50149.1367 - mae: 50149.1367 - val_loss: 50580.9492 - val_mae: 50580.9492
Epoch 16/100
250/250 [==============================] - 2s 9ms/step - loss: 50100.5039 - mae: 50100.5039 - val_loss: 50545.6328 - val_mae: 50545.6328
Epoch 17/100
250/250 [==============================] - 3s 11ms/step - loss: 50057.1562 - mae: 50057.1562 - val_loss: 50519.7695 - val_mae: 50519.7695
Epoch 18/100
250/250 [==============================] - 2s 10ms/step - loss: 50020.7305 - mae: 50020.7305 - val_loss: 50494.5547 - val_mae: 50494.5547
Epoch 19/100
250/250 [==============================] - 2s 7ms/step - loss: 49989.3906 - mae: 49989.3906 - val_loss: 50470.9883 - val_mae: 50470.9883
Epoch 20/100
250/250 [==============================] - 3s 10ms/step - loss: 49958.8477 - mae: 49958.8477 - val_loss: 50453.3867 - val_mae: 50453.3867
Epoch 21/100
250/250 [==============================] - 3s 11ms/step - loss: 49930.7422 - mae: 49930.7422 - val_loss: 50428.3555 - val_mae: 50428.3555
Epoch 22/100
250/250 [==============================] - 2s 10ms/step - loss: 49903.8633 - mae: 49903.8633 - val_loss: 50410.6719 - val_mae: 50410.6719
Epoch 23/100
250/250 [==============================] - 2s 8ms/step - loss: 49882.4961 - mae: 49882.4961 - val_loss: 50398.6953 - val_mae: 50398.6953
Epoch 24/100
250/250 [==============================] - 2s 6ms/step - loss: 49860.3789 - mae: 49860.3789 - val_loss: 50394.5781 - val_mae: 50394.5781
Epoch 25/100
250/250 [==============================] - 2s 7ms/step - loss: 49838.9766 - mae: 49838.9766 - val_loss: 50369.2188 - val_mae: 50369.2188
Epoch 26/100
250/250 [==============================] - 3s 10ms/step - loss: 49815.4844 - mae: 49815.4844 - val_loss: 50353.2148 - val_mae: 50353.2148
Epoch 27/100
250/250 [==============================] - 2s 10ms/step - loss: 49797.3477 - mae: 49797.3477 - val_loss: 50349.3047 - val_mae: 50349.3047
Epoch 28/100
250/250 [==============================] - 3s 11ms/step - loss: 49776.7734 - mae: 49776.7734 - val_loss: 50345.2422 - val_mae: 50345.2422
Epoch 29/100
250/250 [==============================] - 2s 7ms/step - loss: 49759.5195 - mae: 49759.5195 - val_loss: 50341.8086 - val_mae: 50341.8086
Epoch 30/100
250/250 [==============================] - 2s 8ms/step - loss: 49746.5039 - mae: 49746.5039 - val_loss: 50331.2695 - val_mae: 50331.2695
Epoch 31/100
250/250 [==============================] - 3s 11ms/step - loss: 49729.0234 - mae: 49729.0234 - val_loss: 50339.8242 - val_mae: 50339.8242
Epoch 32/100
250/250 [==============================] - 2s 8ms/step - loss: 49719.3281 - mae: 49719.3281 - val_loss: 50324.6914 - val_mae: 50324.6914
Epoch 33/100
250/250 [==============================] - 3s 12ms/step - loss: 49699.4844 - mae: 49699.4844 - val_loss: 50333.2188 - val_mae: 50333.2188
Epoch 34/100
250/250 [==============================] - 2s 9ms/step - loss: 49685.9805 - mae: 49685.9805 - val_loss: 50320.5703 - val_mae: 50320.5703
Epoch 35/100
250/250 [==============================] - 2s 8ms/step - loss: 49673.7930 - mae: 49673.7930 - val_loss: 50322.6406 - val_mae: 50322.6406
Epoch 36/100
250/250 [==============================] - 2s 6ms/step - loss: 49663.1133 - mae: 49663.1133 - val_loss: 50328.4375 - val_mae: 50328.4375
Epoch 37/100
250/250 [==============================] - 1s 6ms/step - loss: 49651.7891 - mae: 49651.7891 - val_loss: 50315.4727 - val_mae: 50315.4727
Epoch 38/100
250/250 [==============================] - 2s 7ms/step - loss: 49637.9219 - mae: 49637.9219 - val_loss: 50327.2148 - val_mae: 50327.2148
Epoch 39/100
250/250 [==============================] - 2s 8ms/step - loss: 49631.4453 - mae: 49631.4453 - val_loss: 50324.2461 - val_mae: 50324.2461
Epoch 40/100
250/250 [==============================] - 2s 8ms/step - loss: 49619.1484 - mae: 49619.1484 - val_loss: 50312.8672 - val_mae: 50312.8672
Epoch 41/100
250/250 [==============================] - 2s 8ms/step - loss: 49611.9062 - mae: 49611.9062 - val_loss: 50304.3828 - val_mae: 50304.3828
Epoch 42/100
250/250 [==============================] - 2s 7ms/step - loss: 49598.8320 - mae: 49598.8320 - val_loss: 50297.1328 - val_mae: 50297.1328
Epoch 43/100
250/250 [==============================] - 2s 7ms/step - loss: 49594.1602 - mae: 49594.1602 - val_loss: 50292.9023 - val_mae: 50292.9023
Epoch 44/100
250/250 [==============================] - 3s 12ms/step - loss: 49584.7422 - mae: 49584.7422 - val_loss: 50296.2422 - val_mae: 50296.2422
Epoch 45/100
250/250 [==============================] - 2s 9ms/step - loss: 49575.8789 - mae: 49575.8789 - val_loss: 50309.0703 - val_mae: 50309.0703
Epoch 46/100
250/250 [==============================] - 2s 7ms/step - loss: 49566.8750 - mae: 49566.8750 - val_loss: 50295.0625 - val_mae: 50295.0625
Epoch 47/100
250/250 [==============================] - 1s 6ms/step - loss: 49558.9453 - mae: 49558.9453 - val_loss: 50299.5117 - val_mae: 50299.5117
Epoch 48/100
250/250 [==============================] - 2s 8ms/step - loss: 49550.1797 - mae: 49550.1797 - val_loss: 50306.5742 - val_mae: 50306.5742
Epoch 49/100
250/250 [==============================] - 2s 7ms/step - loss: 49546.3633 - mae: 49546.3633 - val_loss: 50300.7852 - val_mae: 50300.7852
Epoch 50/100
250/250 [==============================] - 2s 8ms/step - loss: 49538.1133 - mae: 49538.1133 - val_loss: 50286.2539 - val_mae: 50286.2539
Epoch 51/100
250/250 [==============================] - 3s 11ms/step - loss: 49533.0547 - mae: 49533.0547 - val_loss: 50290.4141 - val_mae: 50290.4141
Epoch 52/100
250/250 [==============================] - 2s 8ms/step - loss: 49526.2656 - mae: 49526.2656 - val_loss: 50297.8711 - val_mae: 50297.8711
Epoch 53/100
250/250 [==============================] - 2s 9ms/step - loss: 49517.9453 - mae: 49517.9453 - val_loss: 50308.1055 - val_mae: 50308.1055
Epoch 54/100
250/250 [==============================] - 3s 12ms/step - loss: 49510.8906 - mae: 49510.8906 - val_loss: 50297.9609 - val_mae: 50297.9609
Epoch 55/100
250/250 [==============================] - 2s 7ms/step - loss: 49512.2891 - mae: 49512.2891 - val_loss: 50298.6367 - val_mae: 50298.6367
Epoch 56/100
250/250 [==============================] - 3s 11ms/step - loss: 49503.6953 - mae: 49503.6953 - val_loss: 50313.1016 - val_mae: 50313.1016
Epoch 57/100
250/250 [==============================] - 2s 7ms/step - loss: 49497.9141 - mae: 49497.9141 - val_loss: 50298.2188 - val_mae: 50298.2188
Epoch 58/100
250/250 [==============================] - 2s 9ms/step - loss: 49492.7344 - mae: 49492.7344 - val_loss: 50308.4062 - val_mae: 50308.4062
Epoch 59/100
250/250 [==============================] - 1s 5ms/step - loss: 49487.2695 - mae: 49487.2695 - val_loss: 50307.8555 - val_mae: 50307.8555
Epoch 60/100
250/250 [==============================] - 2s 7ms/step - loss: 49481.2109 - mae: 49481.2109 - val_loss: 50308.1719 - val_mae: 50308.1719

In [17]:
%load_ext tensorboard

In [19]:
%tensorboard --logdir regressionlogs/fit%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 14488), started 0:00:05 ago. (Use '!kill 14488' to kill it.)